#extracts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
#extracts .rounded {
  width: 100%;
  max-width: 21rem;
  min-height: 7rem;
  margin-bottom: 2rem;
  border: 1px solid var(--darkest-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#extracts .rounded h3 {
  font-weight: bold;
}
