footer
  div #{proj_name} &copy; #{proj_copy} 
    a(href="https://www.linkedin.com/in/markopavan/", target="_blank", rel="noopener noreferrer", title="LinkedIn page di Marco Pavan") #{proj_owner}
    span &nbsp;&dash;&nbsp;
    a(href="/privacy", title="Vai alla pagina relativa alla Privacy") Privacy