section(id="inversion", class="rounded zoom")
  h2 Inversioni di trend
  div(class="list-wrapper")
    div(id="upinversion")
      h3 Titoli azionari in possibile #[em inversione di trend rialzista]
      table
        thead
          tr
            th Nome
            th Ultimo prezzo
            th Media 20gg
            th Media 40gg
        tbody
      p Lista delle azioni della Borsa Italiana il cui prezzo, #[em dopo una fase di ribasso], negli ultimi giorni è salito #[em sopra le media a 20gg e 40gg]. 
      p(class="source") Fonte: #[em(class="img_icon il-sole-24-ore") Il Sole 24 Ore]
      p(class="detection") Rilevamento: #[em ]

    div(id="downinversion")
      h3 Titoli azionari in possibile #[em inversione di trend ribassista] 
      table
        thead
          tr
            th Nome
            th Ultimo prezzo
            th Media 20gg
            th Media 40gg
        tbody
      p Lista delle azioni della Borsa Italiana il cui prezzo, #[em dopo una fase di rialzo], negli ultimi giorni è sceso #[em sotto le media a 20gg e 40gg].
      p(class="source") Fonte: #[em(class="img_icon il-sole-24-ore") Il Sole 24 Ore]
      p(class="detection") Rilevamento: #[em ]
