extends layout.pug

block append meta
  title #{title} 
  meta(name="description" content=proj_description)
  meta(name="keywords" content="home")
  link(rel="stylesheet", href="/styles/views/home.css")
  script(src='/scripts/home.js', defer)

block main
  h1 #{title}
