div(id="spot_layer")
  h2 Contribuisci a sostenere il progetto tradingradar.net: visita il nostro sponsor per scoprire le sue opportunità di trading
  p #[em Clicca sul banner] qui sotto per continuare la visualizzazione del sito #[em senza ulteriori interruzioni]
  span(id="counter")
  a(id="ava_banner_cookie_set", href='https://tracking.avapartner.com/imp/click/?affid=209215&bannerid=36311&adTheme=770&campaign=214764&campaignName=Default%20Campaign&tag=209215', target='_blank', title="Sponsor AvaTrade banner")
    img(src='https://tracking.avapartner.com/imp/?affid=209215&bannerid=36311&adTheme=770&campaign=214764&campaignName=Default%20Campaign&tag=209215', alt="Banner sponsor AvaTrade", fetchpriority="low", width="800", height="800")
  