section(id="perf-year", class="rounded zoom")
  h2 Performance #[em annuali]
  div(class="list-wrapper")
    div
      h3 Titoli azionari con le #[em migliori] performance #[em annuali]
      ul(class="trlist rank up")
      p Lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori rialzi degli ultimi 12 mesi].
      p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
      p(class="detection") Rilevamento: #[em ]
    div
      h3 Titoli azionari con le #[em peggiori] performance #[em annuali]
      ul(class="trlist rank down")
      p Lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori ribassi degli ultimi 12 mesi].
      p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
      p(class="detection") Rilevamento: #[em ]
  