section(id="perf-year")
  h2 Performance #[em annuali]
  div(class="list-wrapper")
    div(id="perf-year-up")
      h3 Titoli azionari con le #[em migliori] performance #[em annuali]
      p La lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori rialzi degli ultimi 12 mesi].
      ul(class="trlist rank up")
      p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
      p(class="detection") Rilevamento: #[em ]
    div(id="perf-year-down")
      h3 Titoli azionari con le #[em peggiori] performance #[em annuali]
      p La lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori ribassi degli ultimi 12 mesi].
      ul(class="trlist rank down")
      p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
      p(class="detection") Rilevamento: #[em ]
  