#stock {
  section {
    margin: var(--large-space) 0;
  }
  .note {
    display: none;
    font-size: var(--font-size-normal);
    font-style: italic;
    &.show {
      display: block;
    }
  }
  #select_stock {
    margin-top: var(--xx-large-space);
  }
}
