#stock {
  section {
    margin-top: var(--view-padding);
  }
  .note {
    display: none;
    font-size: var(--font-size-normal);
    font-style: italic;
    &.show {
      display: block;
    }
  }
  #select_stock {
    margin-top: var(--xx-large-space);
  }
}


#mf-risk-gradient {
  display: block;
  font-family: monospace;
  background: var(--green);
  background: linear-gradient(90deg, #2CBA0F 0%, #FFEF28 25%, #FE0506 100%);
  width: 80%;
  height: var(--xx-large-space);
  margin: var(--normal-space) 0;
  border: 1px solid var(--black);
  position: relative;
}
#mf-risk-gradient:after {
  content: '';
  position: absolute;
  height: 100%;
  border-right: 2px solid var(--blue);
  left: var(--risk);
}
#mf-risk-gradient:before {
  content: attr(data-risk);
  font-size: var(--font-size-small);
  position: absolute;
  bottom: calc(var(--font-size-small) * -2);
  left: var(--risk);
  color: var(--blue);
}


.widget {
  position: relative;
  font-family: monospace;
  height: var(--xx-large-space);
  margin: var(--normal-space) 0;
}
.widget > div {
  width: 100%;
  position: absolute;
  top: 0;
}
.absolute {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,253,61,1) 50%, rgba(0,255,0,1) 100%);
  height: var(--x-large-space);
  z-index: 9;
}
.absolute:after, .absolute:before, .relative:after, .relative:before, .current:after {
  position: absolute;
  height: 100%;
  letter-spacing: -1px;
}
.absolute:after {
  content: attr(data-max);
  right: 0;
  border-right: 1px solid black;
}
.absolute:before {
  content: attr(data-min);
  left: 0;
  border-left: 1px solid black;
}
.relative {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,253,61,1) 50%, rgba(0,255,0,1) 100%);
  left: var(--left);
  width: var(--width) !important;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  height: calc(var(--x-large-space) * 2);
}
.current {
  height: calc(var(--x-large-space) * 2.5);
  z-index: 99;
}
.relative:after {
  /* content: attr(data-max); */
  right: 0;
  line-height: calc(var(--x-large-space) * 2.5);
}
.relative:before {
  /* content: attr(data-min); */
  left: 0;
  line-height: calc(var(--x-large-space) * 2.5);
}
/*.relative:after, .relative:before {
  font-weight: normal;
  color: var(--darker-gray);
  line-height: 3.4rem;
}
.relative:after {
  content: attr(data-max);
  left: var(--maxpath);
  border-left: 2px solid var(--darker-gray);
  line-height: 5.2rem;
}
.relative:before {
  content: attr(data-min);
  left: var(--minpath);
  border-left: 2px solid var(--darker-gray);
}*/
.current:after {
  content: attr(data-price);
  border-left: 2px dashed blue;
  color: blue;
  left: var(--price);
  line-height: 9rem;
  font-style: italic;
  font-weight: normal;
}
.data {
  margin-top: 1.8rem;
}
#currprice {
  color: blue;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}