#follow-the-stock {
  margin: var(--xx-large-space) 0!important;
  border: 1px solid var(--blue);
}

.column #follow-the-stock {
  margin-top: 0!important;
}

#follow-the-stock a {
  text-align: center;
  display: block;
  font-size: var(--font-size-bigger);
  font-weight: bold;
  margin: var(--x-large-space) 0;
}


@media screen and (max-width: 768px) {

}