#follow-the-stock {
  margin: var(--xx-large-space) 0!important;
  border: 1px solid var(--blue);
  background-color: var(--secondary);
  color: var(--primary);
  text-align: center;
}

.column #follow-the-stock {
  margin-top: 0!important;
}

#follow-the-stock h2 {
  font-weight: 500;
}
#follow-the-stock h3 {
  margin-top: var(--x-large-space);
  margin-bottom: 0;
}

#follow-the-stock a {
  margin: var(--large-space);
}

#follow-the-stock .patreon::before, #follow-the-stock .email::before {
  width: var(--x-large-space);
  height: var(--x-large-space);
  margin-right: var(--small-space);
}

#follow-the-stock ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: italic;
}
#follow-the-stock li {
  margin: var(--x-small-space) 0;
}


@media screen and (max-width: 768px) {

}