section(id="follow-the-stock", class="rounded")
  if name
    div 
      h2 Segui il titolo #[em #{name}] direttamente tramite la tua email
      p Ricevi tutti gli aggiornamenti circa le azioni #[em #{name}] sulla tua email: #[em nessuna pubblicità, avviso scadenze ravvicinate, evidenziazione del cambio di valore e confronto con il con il dato precedente, la rassegna stampa più aggiornata e...] #[br]#[br]
      p #[em Invia una richiesta alle seguente email] per ricevere subito i primi aggiornamenti sul tuo titolo preferito.
      a(href="mailto:info@tradingradar.net?subject=Segui il titolo: " +  name + "&body=Vorrei maggiori informazioni su come seguire il titolo " + name + ' direttamente tramite la mia email.') info@tradingradar.net
  else 
    div 
      h2 Segui il tuo titolo direttamente tramite la tua email
      p Ricevi tutti gli aggiornamenti circa le tue azioni preferite sulla tua email: #[em nessuna pubblicità, avviso scadenze ravvicinate, evidenziazione del cambio di valore e confronto con il con il dato precedente, la rassegna stampa più aggiornata e...] #[br]#[br]
      p #[em Invia una richiesta alle seguente email] per ricevere subito i primi aggiornamenti.
      a(href="mailto:info@tradingradar.net?subject=Segui il titolo&body=Vorrei maggiori informazioni su come seguire il titolo [AGGIUNGERE NOME TITOLO] direttamente tramite la mia email.") info@tradingradar.net
