section(id="follow-the-stock", class="rounded")
  if name
    div 
      h2 Il titolo azionario #[em #{name.toUpperCase()}] direttamente SULLA TUA EMAIL!
      p Ricevi tutti gli aggiornamenti circa le azioni #[em #{name}] sulla tua email.
      p Richiedi l'iscrizione al servizio #[em tramite Patreon] oppure effettua una richiesta diretta #[em tramite la tua email].
      div(class="ctas")
        a(class="btn img_icon email", href="mailto:info@tradingradar.net?subject=Segui il titolo: " +  name + "&body=Vorrei maggiori informazioni su come seguire il titolo " + name + ' direttamente tramite la mia email.', title="Richiedi iscrizione direttamente tramite email") Mi iscrivo tramite email
        a(class="btn tertiary img_icon patreon", href="https://patreon.com/tradingradarnet?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink", title="Richiedi iscrizione tramite Patreon") Mi iscrivo tramite Patreon
      div
        h3 Otterrai, quotidianamente...
        ul
          li Performance giornaliera e mensile
          li I target price e le ultime raccomandazioni
          li Le date di dividendo
          li Le analisi dei principali testate online
          li Le statistiche generali della giornata borsistica
          li E altro ancora...
        p ...#[em direttamente sulla tua email]
        a(class="btn tertiary", href="mailto:info@tradingradar.net?subject=Segui il titolo: " + name + "&body=Vorrei ricevere gratuitamente una email di prova gratuita per il titolo indicato in oggetto.", title="Chiedo una prova gratuita") Chiedo una prova gratuita
  else 
    div
      h2 SEGUI IL TITOLO! #[br]Le analisi del tuo titolo azionario direttamente SULLA TUA EMAIL!
      p Ricevi quotidianamente gli aggiornamenti circa le tue azioni preferite sulla tua email.
      p Richiedi l'iscrizione al servizio #[em tramite Patreon] oppure effettua una richiesta diretta #[em tramite la tua email].
      div(class="ctas")
        a(class="btn img_icon email", href="mailto:info@tradingradar.net?subject=Segui il titolo&body=Vorrei maggiori informazioni su come seguire il titolo [AGGIUNGERE NOME TITOLO] direttamente tramite la mia email.", title="Richiedi iscrizione direttamente tramite email") Mi iscrivo tramite email
        a(class="btn tertiary img_icon patreon", href="https://patreon.com/tradingradarnet?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink", title="Richiedi iscrizione tramite Patreon") Mi iscrivo tramite Patreon
