#stock-analyses {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .rounded {
    margin-right: var(--large-space);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--large-space) 0;
  }
  .img_icon::before {
    width: var(--x-large-space);
    height: var(--x-large-space);
    vertical-align: text-bottom;
    margin-right: var(--small-space);
    border: 1px solid gray;
    border-radius: 50%;
    padding: var(--x-small-space);
  }
  .source header {
    padding: var(--x-small-space);
    margin-bottom: var(--x-large-space);
    font-weight: bold;
    span {
      font-style: italic;
    }
    h2 {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {

}