#stock-top-data {
  display: flex;
  justify-content: space-between;
  #last-price {
    border: 1px solid var(--bronze);
  }
  .rounded {
    width: 100%;
    margin-right: var(--large-space);
    &:last-child {
      margin-right: 0;
    }
    h3 {
      margin-top: 0;
      margin-bottom: var(--x-small-space);
    }
  }

}

@media screen and (max-width: 768px) {
  #stock-top-data {
    flex-wrap: wrap;

    .rounded {
      width: 100%;
      margin: 0;
      margin-bottom: var(--large-space);
    }
  }
}