section(class="rounded zoom rankings loading")
  h2 I migliori ranking secondo #[em Milano Finanza]
  p Scopri #[a(href="/milano-finanza-best-rankings", title="Le azioni di Milano Finanza ordinate per Ranking") tutti i titoli di Milano Finanza] ordinati per ranking
  