.rankings {
  border: 1px solid var(--darkest-gray);
  box-sizing: border-box;
}

.rankings ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.rankings li {
  list-style: none;
  background-color: var(--lightest-gray);
  border-bottom: 1px solid var(--lighter-gray);
  padding: var(--small-space);
}

.rankings li a {
  font-size: var(--font-size-bigger);
  font-weight: bold;
}

.rankings li span {
  font-size: var(--font-size-huge);
  margin-left: var(--normal-space);
  margin-top: var(--small-space);
  font-style: italic;
  line-height: 100%;
}
