section(class="rounded zoom rankings loading")
  h3 Migliori ranking Milano Finanza
  div(class="best")
    h5
    div(class="small") #[span(class="green")]
  div(class="more")
    a(href="/milano-finanza-best-rankings", title="Vedi tutti i ranking di Milano Finanza") Vedi tutti i ranking di Milano Finanza   