section(class="rounded rankings loading")
  h2 I migliori ranking secondo #[em Milano Finanza]
  p Ogni giorno #[em Milano Finanza] aggiorna i suoi giudizi sui titoli azionari, in questa sezione puoi scoprire quali sono attualmente i #[em titoli con il Ranking maggiore]. #[br]Sono anche disponibili #[a(href="/milano-finanza-best-rankings", title="Le azioni di Milano Finanza ordinate per Ranking") tutti i titoli di Milano Finanza] ordinati per ranking.
  