section(class="rounded dividends loading")
  img(src="/assets/images/icons/percent.webp", class="icon", width="120", height="120", alt="Percent icon")
  h3 Migliore rapporto#[br]dividendo/prezzo
  div(class="ratio")
    h4
    div(class="small") #[span]#[small %]
  div(class="more")
    a(href="/dividendi", title="Vedi tutti i dividendi") Vedi tutti i dividendi


section(class="rounded dividends loading")
  img(src="/assets/images/icons/dividend.webp", class="icon", width="120", height="120", alt="Dividend icon")
  h3 Ultima comunicazione#[br]stacco della cedola
  div(class="next")
    h4
    div(class="small") #[span]
  div(class="more")
    a(href="/dividendi", title="Vedi tutti i dividendi") Vedi tutte le date di stacco della cedola