section(class="rounded zoom dividends loading")
  h3 Dividendi
  div(class="ratio")
    h4 Migliore rapporto dividendo/prezzo
    h5
    div(class="small") #[span]#[small %]
  div(class="next")
    h4 Ultima comunicazione stacco della cedola
    h5
    div(class="small") #[span]
  div(class="more")
    a(href="/dividendi", title="Vedi tutti i dividendi") Vedi tutti i dividendi