section(class="rounded")
  h2 I segnali di oggi: #[em(id="today")]
  p I #[em titoli più interessanti di oggi] in base alle loro performance mensili (maggiori rialzi o ribassi), in base al dividend yeld (rapporto dividendo/prezzo) o in base alla comunicazione di stacco della cedola (data dividendo). 
  div(id="extracts")
    include ./mounth-performance.pug
    include ./dividends.pug
  include ./best-mf.pug
