#extracts {
  display: flex;
  justify-content: space-between;
  
  .rounded {
    border: 1px solid var(--darkest-gray);
    width: 23%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  #extracts {
    flex-direction: column;
    
    .rounded {
      width: 100%;
    }
  }
}
