section(class="rounded zoom performance loading")
  h3 Performance mensili 
  div(class="best")
    div 
      img(src="/assets/images/icons/uptrend.webp", class="icon", alt="Uptrend icon")
      h4 Migliore performance mensile
    h5 
    div(class="small") #[span(class="green")]
  div(class="worst")
    div 
      img(src="/assets/images/icons/downtrend.webp", class="icon", alt="Downtrend icon")
      h4 Peggiore performance mensile
    h5 
    div(class="small") #[span(class="red")]
  div(class="more")
    a(href="#perf-month", title="Vedi tutte le performance mensili") Vedi tutte le performance mensili