section(class="rounded zoom performance loading")
  h3 Performance mensili 
  div(class="best")
    h4 Migliore performance mensile
    h5 
    div(class="small") #[span(class="green")]
  div(class="worst")
    h4 Peggiore performance mensile
    h5 
    div(class="small") #[span(class="red")]
  div(class="more")
    a(href="#perf-month", title="Vedi tutte le performance mensili") Vedi tutte le performance mensili