section(class="rounded performance loading")
  img(src="/assets/images/icons/uptrend.webp", class="icon", width="188", height="120", alt="Uptrend icon")
  h3 Migliore performance mensile
  div(class="best")
    h4 
    div(class="small") #[span(class="green")]
  div(class="more")
    a(href="#perf-month", title="Vedi tutte le performance mensili") Vedi tutte le performance mensili


section(class="rounded performance loading")
  img(src="/assets/images/icons/downtrend.webp", class="icon", width="188", height="120", alt="Downtrend icon")
  h3 Peggiore performance mensile
  div(class="worst")
    h4
    div(class="small") #[span(class="red")]
  div(class="more")
    a(href="#perf-month", title="Vedi tutte le performance mensili") Vedi tutte le performance mensili
