section(class="rounded nextd loading")
  h2 I prossimi dividendi
  p Quali sono i prossimi titoli che effettueranno lo stacco della cedola? #[br]Sulla pagina #[a(href="/dividendi", title="Lista completa dei prossimi dividendi") Dividendi] è disponibile la lista completa dei dividendi.