#main-logo {
  font-size: var(--font-size-biggest);
}

#main-logo span {
  letter-spacing: 2px;
}

#main-logo img {
  height: var(--xx-large-space);
  width: auto;
  vertical-align: middle;
  margin-right: var(--small-space);
}

@media screen and (max-width: 768px) {
  #main-logo {
    font-size: var(--font-size-huge);
  }
  #main-logo img {
    height: var(--x-large-space);
  }
}