#main-logo {
  font-size: var(--font-size-huge);
}

#main-logo span {
  letter-spacing: 2px;
}

#main-logo img {
  height: var(--xx-large-space);
  vertical-align: middle;
  margin-right: var(--small-space);
}
