div(id="ava-banner2", class="ava")
  a(href='https://tracking.avapartner.com/imp/click/?affid=209215&bannerid=36777&adTheme=804&campaign=214764&campaignName=Default%20Campaign&tag=209215', target='_blank', title="Sponsor AvaTrade banner")
    img(src='https://tracking.avapartner.com/imp/?affid=209215&bannerid=36777&adTheme=804&campaign=214764&campaignName=Default%20Campaign&tag=209215', alt="Banner sponsor AvaTrade", fetchpriority="low", loading="lazy", width="790", height="200")
