div(id="ava-banner3", class="ava")
  a(href='https://tracking.avapartner.com/imp/click/?affid=209215&bannerid=36298&adTheme=770&campaign=214764&campaignName=tradingradar.net&tag=209215', target='_blank', title="Sponsor AvaTrade banner")
    img(src='https://tracking.avapartner.com/imp/?affid=209215&bannerid=36298&adTheme=770&campaign=214764&campaignName=tradingradar.net&tag=209215', alt="Banner sponsor AvaTrade", fetchpriority="low", loading="lazy", width="300", height="600")
     
    
