#hp-header {
  display: flex;
  justify-content: space-between;
  .rounded {
    width: 50%;
    &:first-child {
      margin-right: var(--view-padding);
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  .sources {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: var(--x-large-space);
    li {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.333%;
      padding: var(--small-space) 0;
      background-color: var(--lightest-gray);
      border: 1px solid var(--white);
      box-sizing: border-box;    
      text-align: center;
    }
    li::before {
      width: var(--x-large-space);
      height: var(--x-large-space);
      margin: 0 0 var(--x-small-space) 0;
    }
  }
  
  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li {
      font-weight: 500;
      width: 45%;
      font-style: italic;
    }
    a::before {
      content: '\27A4';
      color: var(--link);
      display: inline-block;
      transition: all .2s ease-in-out;
    }
    a:hover::before {
      color: var(--red);
      transform: rotate(90deg);
      transform-origin: center;
    }
  }
}

@media screen and (max-width: 768px) {
  #hp-header {
    flex-direction: column;
    .rounded {
      margin: var(--view-padding) 0;
      width: inherit;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
