- 
  let sources = [
    {
      name: 'Borsa Italiana',
      id: 'borsa-italiana',
      href: 'https://www.borsaitaliana.it/homepage/homepage.htm'
    },
    {
      name: 'Il Sole 24 Ore',
      id: 'il-sole-24-ore',
      href: 'https://www.ilsole24ore.com/'
    },
    {
      name: 'Milano Finanza',
      id: 'milano-finanza',
      href: 'https://www.milanofinanza.it/'
    },
    {
      name: 'SoldiOnLine',
      id: 'soldi-on-line',
      href: 'https://www.soldionline.it/'
    },
    {
      name: 'Teleborsa',
      id: 'teleborsa',
      href: 'https://www.teleborsa.it/'
    },
    {
      name: 'Affari e Finanza',
      id: 'repubblica',
      href: 'https://www.repubblica.it/economia/affari-e-finanza/'
    }
  ]
section(id="hp-header")
  div(class="rounded")
    h1 #{title}
    p #{description}
    p I dati forniti sono ottenuti #[em dai principali media online] del settore finanziario.
    ul(class="sources")
      each source in sources
        li(class="img_icon " + source.id) #{source.name} 
    h2(class="caption") Le nostre sorgenti di informazione

  div(class="rounded")
    h2 Seguici su Facebook e Telegram
    p Segui i segnali direttamente sul tuo telefonino attraverso #[em i nostri canali social]: ogni giorno pubblichiamo i dati e i segnali più significativi della giornata!
    ul(class="socials")
      li
        iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftradingradar&tabs=events&width=280&height=150&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=8622517134464699', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowfullscreen='true', allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share' data-lazy="true")
        a(href='https://www.facebook.com/tradingradar') #[i(class="icon-facebook")] Segui tradingradar.net su Facebook
      li
        //- script(async='', src='https://comments.app/js/widget.js?3', data-comments-app-website='aH4bYkmA', data-limit='5')
        img(src="/assets/images/icons/telegram.webp", width="130", height="130", alt="Telegram icon")
        a(href="https://t.me/tradingradarnet", title="Telegram", style="margin-top: 1.6rem;") #[i(class="icon-telegram")] Segui tradingradar.net su Telegram
    h2(class="caption") I nostri social
    
        
  