- 
  let sources = [
    {
      name: 'Borsa Italiana',
      id: 'borsa-italiana',
      href: 'https://www.borsaitaliana.it/homepage/homepage.htm'
    },
    {
      name: 'Il Sole 24 Ore',
      id: 'il-sole-24-ore',
      href: 'https://www.ilsole24ore.com/'
    },
    {
      name: 'Milano Finanza',
      id: 'milano-finanza',
      href: 'https://www.milanofinanza.it/'
    },
    {
      name: 'SoldiOnLine',
      id: 'soldi-on-line',
      href: 'https://www.soldionline.it/'
    },
    {
      name: 'Teleborsa',
      id: 'teleborsa',
      href: 'https://www.teleborsa.it/'
    },
    {
      name: 'Affari e Finanza',
      id: 'repubblica',
      href: 'https://www.repubblica.it/economia/affari-e-finanza/'
    }
  ]
  let sections = [
    {
      name: 'Titolo in evidenza',
      id: 'hp-hero',
    },
    {
      name: 'Migliore performance mensile',
      id: 'extracts',
    },
    {
      name: 'Peggiore performance mensile',
      id: 'extracts',
    },
    {
      name: 'Migliore Dividend yeld',
      id: 'extracts',
    },
    {
      name: 'Ultima comunicazione dividendo',
      id: 'extracts',
    },
    {
      name: 'I prossimi dividendi',
      id: 'signals',
    },
    {
      name: 'I migliori titoli per Milano Finanza',
      id: 'signals',
    },
    {
      name: 'Performance mensili',
      id: 'perf-month',
    },
    {
      name: 'Performance annuali',
      id: 'perf-year',
    },
    {
      name: 'Titoli in trendline',
      id: 'trend',
    },
    {
      name: 'Titoli in inversione di trend',
      id: 'inversion',
    },
  ]
div(id="hp-header")
  section(class="rounded")
      h1 #{title}
      h2 #{description}
      p !{proj_description}
      p I #[em dati forniti] sono ottenuti #[em dai principali media online] del settore finanziario.
      ul(class="sources")
        each source in sources
          li(class="img_icon " + source.id) #{source.name} 
