section(id="trend", class="rounded zoom loading")
  h2 Trend 
  div(class="list-wrapper")
    div(id="uptrends")
      h3 Titoli azionari in #[em trend rialzista]
      table
        thead
          tr
            th Nome
            th Ultimo prezzo
            th Media 20gg
            th Media 40gg
            th Media 100gg
        tbody
      p Lista delle azioni della Borsa Italiana con un #[em trend rialzista] in base all'andamento delle principali medie.
      p(class="source") Fonte: #[em(class="img_icon il-sole-24-ore") Il Sole 24 Ore]
      p(class="detection") Rilevamento: #[em ]

    div(id="downtrends")
      h3 Titoli azionari in #[em trend ribassista]
      table
        thead
          tr
            th Nome
            th Ultimo prezzo
            th Media 20gg
            th Media 40gg
            th Media 100gg
        tbody
      p Lista delle azioni della Borsa Italiana con un #[em trend ribassista] in base all'andamento delle principali medie.
      p(class="source") Fonte: #[em(class="img_icon il-sole-24-ore") Il Sole 24 Ore]
      p(class="detection") Rilevamento: #[em ]
