- 
  let links = [
    {
      id: 'hp',
      name: 'Home',
      url: '/'
    },
    {
      id: 'tpr',
      name: 'Target price e raccomandazioni',
      url: '/target-price-raccomandazioni'
    },
    {
      id: 'dividendi',
      name: 'Dividendi',
      url: '/dividendi'
    },
    {
      id: 'contatti',
      name: 'Contatti',
      url: '/contatti'
    }
  ] 
span(class="hamburger icon-menu") 
nav(id="main-menu")
  div
    span(class="close icon-close")
    ul
      each link in links
        li(class = (id === link.id) ? "active" : "")
          if link.class
            span(class=link.class)
          a(href=link.url, title=link.name) #{link.name}
      if user
        li 
          a(href="/logout", title="Logout") Logout
      else  
        li 
          a(href="/login", title="Login") Login


  