aside(id="share")
  h2 #[em Condividi] questo contenuto tra i tuoi contatti!
  p ... Aiuterai qualcun'altro ad orientarsi nelle sue scelte di investimento!
  section
    h3 
    div(class="fb-like" data-href=(proj_url + url) data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true")
  p Seguici su #[em Facebook] o su #[em Telegram] per aggiornamenti e segnali quotidiani
  ul(class="icons")
    li
      a(href="https://www.facebook.com/tradingradar", title="Facebook") #[i(class="icon-facebook")] Facebook
    li
      a(href="https://t.me/tradingradarnet", title="Telegram") #[i(class="icon-telegram")] Telegram
