aside(id="share")
  h2 #[em Condividi] questo contenuto tra i tuoi contatti!
  p ... Aiuterai qualcun'altro ad orientarsi nelle sue scelte di investimento!
  section
    h3 
    div(class="fb-like" data-href=(proj_url + url) data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true")
