div(id="socials")
  h2 Seguici su Facebook e Telegram 
  p Segui #[em i segnali direttamente sul tuo telefonino] attraverso #[em i nostri canali social]: ogni giorno pubblichiamo i dati e i segnali più significativi della giornata!
  ul
    li
      img(src="/assets/images/icons/facebook.webp", width="64", height="64", alt="Facebook icon")
      a(href='https://www.facebook.com/tradingradar') #[i(class="icon-facebook")] Segui tradingradar.net su Facebook
    li
      img(src="/assets/images/icons/telegram.webp", width="64", height="64", alt="Telegram icon")
      a(href="https://t.me/tradingradarnet", title="Telegram") #[i(class="icon-telegram")] Segui tradingradar.net su Telegram