#header {
  padding: var(--x-small-space) var(--view-padding);
  border-bottom: 1px solid var(--gray);
  background: var(--primary);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header a {
  color: var(--secondary);
  text-decoration: none;
}

#helpme {
  background-color: var(--rt);
  text-align: center;
  padding: var(--x-small-space) 0;
  border: 1px solid var(--red);
}

@media screen and (max-width: 768px) {
  #header {
    padding: var(--small-space);
  }
}
