section(id="perf-month", class="rounded zoom loading")
  h2 Performance #[em mensili]
  div(class="list-wrapper")
    div(id="perf-month-up")
      h3 Titoli azionari con le #[em migliori] performance #[em mensili]
      ul(class="trlist rank up")
      p Lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori rialzi degli ultimi 30 giorni].
      p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
      p(class="detection") Rilevamento: #[em ]
    div(id="perf-month-down")
      h3 Titoli azionari con le #[em peggiori] performance #[em mensili]
      ul(class="trlist rank down")
      p Lista delle #[em 10 azioni] della Borsa Italiana con i #[em maggiori ribassi degli ultimi 30 giorni].
      p(class="source") Fonte: #[em(class="img_icon borsa-italiana") Borsa Italiana]
      p(class="detection") Rilevamento: #[em ]

  