article(id="hp-hero", class="rounded")
    h2 In evidenza: #[em Fincantieri] - #[span(class="green") +44,84%] su base mensile
    div
      h3 Fincantieri in forte ascesa: un mix vincente di innovazione e strategia
      span(calss="data") Data: #[em 29/5/2025]
      div(class="text")
        p Negli ultimi giorni, il titolo Fincantieri (FCT.MI) ha registrato un notevole incremento, segnando un +20% e raggiungendo i 15 euro per azione. Questo rialzo è attribuibile a una serie di fattori strategici e operativi che stanno rafforzando la posizione dell'azienda nel settore della cantieristica navale e della difesa.
        h4 Espansione nel settore della difesa subacquea
        p Fincantieri ha annunciato l'intenzione di raddoppiare le dimensioni della sua divisione subacquea entro il 2027, puntando a ricavi di 820 milioni di euro. Questa mossa risponde alla crescente domanda di sistemi di difesa subacquea in Europa, soprattutto dopo eventi come l'attacco al gasdotto Nord Stream nel 2022. La collaborazione con l'azienda tecnologica italiana Graal Tech per lo sviluppo di veicoli subacquei autonomi e l'acquisizione della divisione WASS di Leonardo rafforzano ulteriormente questa strategia .
        h4 Risultati finanziari solidi
        p Nel primo trimestre del 2025, Fincantieri ha riportato un aumento del 35% degli utili, con un portafoglio ordini record di 57,6 miliardi di euro, equivalente a sette volte i ricavi annuali del 2024. Questo risultato supera le aspettative del mercato e testimonia la solidità finanziaria dell'azienda .
        h4 Riconoscimenti e prospettive future
        p Analisti come quelli di BNP Paribas Exane e Intesa Sanpaolo hanno rivisto al rialzo il target price del titolo, rispettivamente a 10 e 10,2 euro, evidenziando la fiducia nelle prospettive di crescita dell'azienda . Con una strategia focalizzata sull'innovazione e l'espansione nei settori chiave, Fincantieri si posiziona come un attore di primo piano nel panorama industriale europeo.
        p(class="nota") Nota: Le informazioni fornite sono a scopo informativo e non costituiscono consulenza finanziaria. Si consiglia di consultare un professionista prima di prendere decisioni di investimento.

        p(class="continue") Prosegui l'analisi e scopri tutti i dettagli sulla #[a(href="/analisi/fincantieri?isin=IT0005599938", title="Analisi completa Fincantieri") analisi in tempo reale Fincantieri]

        a(href="/analisi/fincantieri?isin=IT0005599938", title="Analisi completa Fincantieri")
          img(width="402" height="125" src="/assets/images/reviews/IT0005599938.webp", alt="Logo Fincantieri", loading="lazy")