article(id="hp-hero", class="rounded")
    h2 Titolo in evidenza: Poste Italiane
    div
      h3 Poste Italiane raggiunge nuovi massimi dopo l'acquisizione della maggioranza di Telecom
      div 
        picture 
          //- source(media="(max-width: 414px)", srcset="/assets/images/reviews/20250405-poste-italiane-s.webp")
          source(media="(max-width: 768px)", srcset="/assets/images/reviews/20250405-poste-italiane-s.webp")
          img(width="480" height="360" src="/assets/images/reviews/20250405-poste-italiane.webp", alt="Grafico analisi tecnica per Poste Italiane")
        div(class="text")
          p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin non urna aliquam, imperdiet enim ac, sollicitudin lorem. Praesent vitae facilisis neque. Praesent gravida tortor non odio ultrices, eget elementum odio tincidunt. Duis eleifend a orci quis porta. Duis ornare ligula erat, vitae pretium eros elementum sed. Donec a ex non ligula euismod pretium et vel diam. Nam rhoncus molestie felis, ac porta lorem porttitor nec. 
          p Aenean nisl sapien, placerat sed aliquet eget, tempor id magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque nisl nunc, feugiat in magna et, lacinia dignissim dui. Sed a volutpat neque. Integer in nunc ut nisi maximus ultricies. Vivamus viverra augue sed tincidunt tempus. 
          p(class="continue") Prosegui l'analisi e scopri tutti i dettagli sulla #[a(href="/analisi/poste-italiane?isin=IT0003796171", title="Analisi completa Poste Italiane") pagina di Poste Italiane]
        
      
        
    
