section(class="column")
  include ../../stock/follow-the-stock.pug
  //- include ../socials/socials.pug
  include ../../stocks_list_light/stocks_list_light.pug
  
  section(class="cherrypick best")
    h2 Migliore performance mensile 
    h3 
      a(href="/analisi/mondo-tv?isin=IT0001447785", title="Analisi completa Mondo Tv") Mondo Tv
    span +332,71% #[small (in data: 16/06/2025)]

  section(class="cherrypick worst")
    h2 Peggiore performance mensile 
    h3 
      a(href="/analisi/bestbe-holding?isin=IT0005611642", title="Analisi completa Bestbe Holding") Bestbe Holding
    span -26,28% #[small (in data: 16/06/2025)]

  section(class="cherrypick nextd")
    h2 Il prossimo dividendo
    h3 
      a(href="/analisi/terna?isin=IT0003242622", title="Analisi completa Terna") Terna
    span 23/06/25 #[small (data stacco della cedola)]

  //- section(class="cherrypick nextd")
  //-   h2 Migliore titolo secondo Milano Finanza
  //-   h3 
  //-     a(href="/analisi/banca-ifis?isin=IT0003188064", title="Analisi completa Banca Ifis") Banca Ifis
  //-   span(class="green") #[small Rank:] A-
  section(class="blogentry")
    span(class="data") Data: #[em 16/5/2025]
    h2 Beyond Meat
    p Beyond Meat crolla in Borsa: vendite in calo e incertezze sul futuro, ma si intravedono spiragli di ripresa
    a(href="/analisi/beyond-meat?isin=US08862E1091", title="Articolo: Beyond Meat") 
      img(src="/assets/images/reviews/US08862E1091.webp", alt="Analisi completa Beyond Meat", width="512", height="98")
  section(class="blogentry")
    span(class="data") Data: #[em 29/5/2025]
    h2 Fincantieri #[span(class="green") +44,84%] su base mensile
    p Fincantieri in forte ascesa: un mix vincente di innovazione e strategia
    a(href="/analisi/fincantieri?isin=IT0005599938", title="Articolo: Fincantieri") 
      img(src="/assets/images/reviews/IT0005599938.webp", alt="Analisi completa Fincantieri", width="512", height="98")

  include ../../../marketing/ava-banner/ava-banner3.pug