html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--secondary);
  background-color: var(--lighter-gray);
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--view-padding);
  padding-top: 0;
  flex: auto;
  line-height: 120%;
}
main section {
  margin: var(--section-margin) 0;
}

a {
  color: var(--link);
  text-decoration: none;
  position: relative;
}
a:hover {
  filter: brightness(80%);
}
a.ext::after {
  content: '\21F1';
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 9px;
  right: 0;
}

em, .em {
  font-weight: 500;
}

p {
  margin: var(--x-small-space) 0;
}

small {
  font-size: 70%;
}

ul, ol {
  margin: var(--normal-space);
  padding-left: var(--normal-space);
  list-style: auto;
}
ul li, ol li {
  margin: var(--small-space) 0;
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.green, .rialzo, .buy  {
  color: var(--green);
}
.red, .ribasso, .sell {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

.gauge {
  width: 100%;
  max-width: 12rem;
  margin: 2rem auto;
  display: block;
}


.rounded {
  background-color: var(--white);
  border-radius: var(--border-radius-big);
  padding: var(--view-padding);
}
.rounded.zoom {
  transition: all .2s ease-out;
}
.rounded.zoom:hover {
  transform: scale(1.01);
  box-shadow: 0px 5px 20px 0px var(--darkest-gray);
}
.rounded > div, .rounded dd {
  margin-bottom: var(--xx-large-space);
}
.rounded h1, .rounded h2, .rounded h3 {
  margin-top: 0;
  margin-bottom: var(--x-large-space);
}
.rounded h4 {
  margin-bottom: var(--normal-space);
  font-size: var(--font-size-bigger);
}
.rounded .icon {
  width: auto;
  height: var(--xx-large-space);
  margin-bottom: var(--x-small-space);
}
.rounded .big {
  font-size: var(--font-size-biggest);
}
.rounded .small {
  font-size: var(--font-size-huge);
  margin-left: var(--normal-space);
  margin-top: var(--small-space);
  font-style: italic;
  line-height: 100%;
}
.rounded small {
  color: var(--gray);
}
.rounded dt {
  font-size: var(--font-size-big);
  margin-bottom: var(--small-space);
  letter-spacing: .1rem;
}
.rounded span {
  font-weight: 500;
}
.rounded .more {
  margin: var(--x-large-space) 0 0 0;
}