.rounded {
  background-color: var(--white);
  border-radius: var(--border-radius-big);
  padding: var(--view-padding);
  border: 1px solid var(--light-gray);
  position: relative;
}
.rounded > div, .rounded > section, .rounded dd {
  margin-bottom: var(--xx-large-space);
}
.rounded h1, .rounded h2, .rounded h3 {
  margin-top: 0;
  margin-bottom: var(--x-large-space);
}
.rounded h4 {
  margin-bottom: var(--normal-space);
  font-size: var(--font-size-bigger);
  font-weight: bold;
}
.rounded .icon {
  width: var(--xx-large-space);
  height: var(--xx-large-space);
  position: absolute;
  top: calc(-1 * var(--small-space));
  right: calc(-1 * var(--small-space));
  background: var(--white);
  border-radius: 5px;
  border: 1px solid var(--light-gray);
}
.rounded .big {
  font-size: var(--font-size-biggest);
}
.rounded .small {
  font-size: var(--font-size-huge);
  margin-left: var(--normal-space);
  margin-top: var(--small-space);
  font-style: italic;
  line-height: 100%;
}
.rounded small {
  color: var(--gray);
}
.rounded dt {
  font-size: var(--font-size-big);
  margin-bottom: var(--small-space);
  letter-spacing: .1rem;
}
.rounded span {
  font-weight: 500;
}
.rounded .more {
  margin: var(--x-large-space) 0 0 0;
}