
@import "./variables.css";
@import "./reset.min.css";
@import "./global.css";
@import "./icons.css";
@import "./image-icons.css";
@import "./montserrat.css";
@import "./headings.css";
@import "./buttons.css";
@import "./loading.css";
@import "./responsive.css";


header, footer {
  padding: 0 1rem;
  background: var(--black);
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  justify-content: space-between;
}