
@import "./variables.css";
@import "./reset.min.css";
@import "./global.css";
@import "./icons.css";
@import "./image-icons.css";
@import "./montserrat.css";
@import "./headings.css";
@import "./buttons.css";
@import "./loading.css";
@import "./responsive.css";
@import "./tr-list.css";
@import "./image-icons.css";
@import "./others.css";

@import "/components/shared/header/main-menu/main-menu.css";
@import "/components/shared/header/main-logo/main-logo.css";
@import "/components/hp-header/hp-header.css";
@import "/components/stocks_list/stocks_list.css";
@import "/components/perf-month/perf-month.css";
@import "/components/perf-year/perf-year.css";
@import "/components/trend/trend.css";
@import "/components/inversion/inversion.css";
@import "/components/shared/cookie_layer/cookie_layer.css";


header, footer {
  padding: 0 var(--normal-space);
  background: var(--secondary);
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  justify-content: space-between;
}